<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}
<body style="background:linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('../static/assets/img/bg.jpg');">
    {% include 'header.html' %}
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="../static/assets/img/main.jpg">
                <div class="intro-text left-0 text-centerfaded p-5 rounded bg-faded text-center">
                    <h2 class="section-heading mb-4"><span class="section-heading-upper">All the Trains</span><span class="section-heading-lower">Worth Riding</span></h2>
                    <p class="mb-3">Every Renfe route is listed on our site with every facet. Once you try it, you won't be able to use any other site to buy your tickets - we guarantee it!</p>
                    <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl" role="button" href="/products">Buy Now!</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-4"><span class="section-heading-upper">Our Promise</span><span class="section-heading-lower">To You</span></h2>
                        <p class="mb-0">When you enter our site to purchase your ticket, we are committed to providing you with effective and efficient service, with complete and reliable results. If you are not satisfied with the user experience, let us know and we will do everything we can to make it right!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright&nbsp;©&nbsp;Brand 2022</p>
        </div>
    </footer>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/utility.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="../static/assets/js/current-day.js"></script>
</body>

</html>