<!DOCTYPE html>
<html>

{% include 'head.html' %}

<body style="background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('../static/assets/img/bg.jpg');height: 957px;">
    {% include 'header.html' %}
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="d-flex product-item-title"></div>
                <!--<form class="align-items-center" action="/admin/remove_admin" method="get" style="margin: 0px;margin-top: 8px;">
                    <div class="form-row d-flex justify-content-center align-items-center p-0 m-0">
                        <div class="col-lg-6 col-xl-6 p-0 m-0 p-3" id="formConocimientos">
                            <h4 class="p-0 m-0 pb-3" style="color: rgb(230,167,86);">Register admin account</h4>
                            <label for="address_to_admin" style="color: rgb(246,247,248);">Address</label>
                            <div class="form-group">
                                <input class="form-control" id="address_to_admin" name="address" type="text">
                            </div>
                            <button class="btn btn-primary btn-block" id="promoteBtn" type="submit">REGISTER</button>
                        </div>
                    </div>
                </form>-->
                <form style="color: white">
                  <div class="form-group">
                    <label for="origin">Origin</label>
                    <input type="text" class="form-control" id="origin" aria-describedby="originHelp" placeholder="Origin City">
                    <small id="originHelp" class="form-text text-muted">The city of origin.</small>
                  </div>

                  <div class="form-group">
                    <label for="destination">Destination</label>
                    <input type="text" class="form-control" id="destination" aria-describedby="destinationHelp" placeholder="Destination City">
                    <small id="destinationHelp" class="form-text text-muted">The destination city.</small>
                  </div>

                  <div class="form-group">
                    <label for="start_date">Departure Date and Time</label>
                    <input type="datetime-local" value="2018-06-12T19:30" class="form-control" id="start_date" aria-describedby="start_dateHelp" placeholder="Departure Date and Time">
                    <small id="start_dateHelp" class="form-text text-muted">The departure date and time.</small>
                  </div>

                  <div class="form-group">
                    <label for="end_date">Arrival Date and Time</label>
                    <input type="datetime-local" value="2018-06-12T19:30" class="form-control" id="end_date" aria-describedby="end_dateHelp" placeholder="Arrival Date and Time">
                    <small id="end_dateHelp" class="form-text text-muted">The arrival date and time.</small>
                  </div>

                  <div class="form-group">
                    <label for="train_type">Train Type</label>
                    <input type="text" class="form-control" id="train_type" aria-describedby="train_typeHelp" placeholder="Train Type">
                    <small id="train_typeHelp" class="form-text text-muted">The train type.</small>
                  </div>

                  <div class="form-group">
                    <label for="train_class">Train Class</label>
                    <input type="text" class="form-control" id="train_class" aria-describedby="train_classHelp" placeholder="Train Class">
                    <small id="train_classHelp" class="form-text text-muted">The train class.</small>
                  </div>

                  <div class="form-group">
                    <label for="fare">Fare</label>
                    <input type="text" class="form-control" id="fare" aria-describedby="fareHelp" placeholder="Fare">
                    <small id="fareHelp" class="form-text text-muted">The fare.</small>
                  </div>
                    
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="popupBox">
            <span class="closeButton">&times;</span>
            <strong class="type"></strong> <!--riempito dinamicamente con lo pseudo-elemento ::after-->
            <span class="msgContent">Default text.</span>
        </div>
    </section>
    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright&nbsp;©&nbsp;Brand 2022</p>
        </div>
    </footer>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/utility.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="../static/assets/js/current-day.js"></script>
    <script src="../static/assets/js/formModifier.js"></script>
    <script src="../static/assets/js/adminPage.js"></script>
    <!--<script src="../static/assets/js/date_picker.js"></script>-->
</body>

</html>