<!DOCTYPE html>
<html>

{% include 'head.html' %}

<body style="background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('../static/assets/img/bg.jpg');height: 957px;">
    {% include 'header.html' %}
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="d-flex product-item-title"></div>
                {% set action = "/admin/update_ticket" if modify is not none else "/admin/insert_ticket" %}
                <form style="color: white" action="{{ action }}" method="get">
                  <div class="form-group">
                    <label for="origin">Origin</label>
                    <input type="text" class="form-control" id="origin" name="origin" aria-describedby="originHelp" placeholder="Origin City"
                        value="{{ origin }}"
                    >
                    <small id="originHelp" class="form-text text-muted">The city of origin.</small>
                  </div>

                  <div class="form-group">
                    <label for="destination">Destination</label>
                    <input type="text" class="form-control" id="destination" name="destination" aria-describedby="destinationHelp" placeholder="Destination City"
                        value="{{ destination }}"
                    >
                    <small id="destinationHelp" class="form-text text-muted">The destination city.</small>
                  </div>

                  <div class="form-group">
                    <label for="start_date">Departure Date and Time</label>
                    <input type="datetime-local" value="{{ start_date }}" class="form-control" id="start_date" name="start_date" aria-describedby="start_dateHelp" placeholder="28-07-2022T18:18">
                    <small id="start_dateHelp" class="form-text text-muted">The departure date and time.</small>
                  </div>

                  <div class="form-group">
                    <label for="end_date">Arrival Date and Time</label>
                    <input type="datetime-local" value="{{ end_date }}" class="form-control" id="end_date" name="end_date" aria-describedby="end_dateHelp" placeholder="28-07-2022T18:18">
                    <small id="end_dateHelp" class="form-text text-muted">The arrival date and time.</small>
                  </div>

                  <div class="form-group">
                    <label for="train_type">Train Type</label>
                    <input type="text" class="form-control" id="train_type" name="train_type" aria-describedby="train_typeHelp" placeholder="Train Type"
                        value="{{ train_type }}"
                    >
                    <small id="train_typeHelp" class="form-text text-muted">The train type.</small>
                  </div>

                  <div class="form-group">
                    <label for="train_class">Train Class</label>
                    <input type="text" class="form-control" id="train_class" name="train_class" aria-describedby="train_classHelp" placeholder="Train Class"
                        value="{{ train_class }}"
                    >
                    <small id="train_classHelp" class="form-text text-muted">The train class.</small>
                  </div>

                  <div class="form-group">
                    <label for="fare">Fare</label>
                    <input type="text" class="form-control" id="fare" name="fare" aria-describedby="fareHelp" placeholder="Fare"
                        value="{{ fare }}"
                    >
                    <small id="fareHelp" class="form-text text-muted">The fare.</small>
                  </div>

                  <div class="form-group">
                      <label for="price">Price</label>
                      {% if price is defined and price is not none %}
                      <input type="number" step="0.01" class="form-control" id="price" name="price" aria-describedby="priceHelp" placeholder="1.00"
                        value="{{"{:0.2f}".format(price)}}">
                      {% else %}
                      <input type="number" step="0.01" class="form-control" id="price" aria-describedby="priceHelp" placeholder="1.00" value="">
                      {% endif %}
                    <small id="priceHelp" class="form-text text-muted">The price.</small>
                  </div>

                  <input hidden type="text" class="form-control" id="db_id" name="db_id" value="{{ db_id }}">

                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="popupBox">
            <span class="closeButton">&times;</span>
            <strong class="type"></strong> <!--riempito dinamicamente con lo pseudo-elemento ::after-->
            <span class="msgContent">Default text.</span>
        </div>
    </section>
    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright&nbsp;©&nbsp;Brand 2022</p>
        </div>
    </footer>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/utility.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="../static/assets/js/current-day.js"></script>
    <script src="../static/assets/js/formModifier.js"></script>
    <script src="../static/assets/js/adminPage.js"></script>
    <!--<script src="../static/assets/js/date_picker.js"></script>-->
</body>

</html>