<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body style="background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('../static/assets/img/bg.jpg');height: 957px;">
    {% include 'header.html' %}
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="d-flex product-item-title"></div>
                <form class="align-items-center" action="/products" method="get">
                    <div class="form-row d-flex justify-content-center align-items-center p-0 m-0">
                        <div class="col-lg-6 col-xl-6 p-0 m-0 p-3" id="formConocimientos">
                            <h4 class="p-0 m-0 pb-3" style="color: rgb(230,167,86);">Filter</h4>
                            <div class="form-group">
                            	<label style="color: rgb(246,247,248);">Date</label>
                            	<input type="datetime-local" class="form-control" id="daySelect" name="start_date" placeholder="2022-07-29T15:42">
                                <!--<select class="form-control pb-2" id="daySelect" name="start_date"> </select>-->
                            </div>
                            <label style="color: rgb(246,247,248);" for="origin-filter">
                            		Start
                            </label>

                            <div class="form-group">
                               <input type="text" class="form-control pb-2" id="origin-filter" name="origin" oninput="this.value = this.value.toUpperCase()" placeholder="Start">
                            </div>

                            <label style="color: rgb(246,247,248);" for="destination-filter">
                                Destination
                            </label>
                            <div class="form-group">
                                <div class="form-group">
                                    <input type="text" class="form-control pb-2" id="destination-filter" name="destination" oninput="this.value = this.value.toUpperCase()" placeholder="Destination">
                                </div>
                            </div>
                            <label style="color: rgb(246,247,248);" for="max-price-filter">
                                Maximum price
                            </label>
                            <div class="form-group">
                                <div class="form-group">
                                    <input type="number" step="0.01" class="form-control pb-2" id="max-price-filter" name="max_price" placeholder="Max price">
                                </div>
                            </div>
                            <input class="btn btn-primary btn-block" type="submit" value="Search" id = "search-btn">
                        </div>
                        <div class="col text-center text-sm-center text-md-center text-lg-center text-xl-center">
                            <img src="../static/assets/img/kisspng-event-tickets-raffle-transparency-airline-ticket-d-openingstijden-olaertsduyn-5d3d7baa328750.865723761564310442207.png" style="width: 328px;margin: 57px;" alt="">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="container d-flex justify-content-center mt-50 mb-50">
            <div class="row">
                <div class="col-md-10">

                    {% block tickets %}

                    {% for ticket in tickets %}
                    <div class="card card-body text-light bg-dark">
                        <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                            <div class="mr-2 mb-3 mb-lg-0">
                                <img src="../static/assets/img/kisspng-event-tickets-raffle-transparency-airline-ticket-d-openingstijden-olaertsduyn-5d3d7baa328750.865723761564310442207.png" style="width: 150px;margin: 26px;" alt="">
                            </div>
                            <div class="media-body">
                                <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                                    <li class="list-inline-item"><span class="media-title font-weight-semibold" data-abc="true">From: {{ ticket.origin }}</span></li>
                                    <li class="list-inline-item"><span class="media-title font-weight-semibold" data-abc="true">To: {{ ticket.destination }}</span></li>
                                </ul>

                                <ul class="list-inline list-inline-dotted mb-0">
                                    <li class="list-inline-item">Train type: {{ ticket.train_type }}</li>
                                    <li class="list-inline-item">Class: {{ ticket.train_class }}</li>
                                </ul>

                                <ul class="list-inline list-inline-dotted mb-0">
                                    <li class="list-inline-item">Fare: {{ ticket.fare }}</li>
                                </ul>

                                <ul class="list-inline list-inline-dotted mb-0">
                                    <li class="list-inline-item">Start: {{ ticket.start_date }} </li>
                                    <li class="list-inline-item">End: {{ ticket.end_date }}</li>
                                </ul>
                            </div>

                            <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                                <h3 class="mb-0 font-weight-semibold" id="price_display">{{"{:.2f}".format(ticket.price)}}€</h3>

                                <form class="align-items-center" action="/buy_ticket" method="get">

                                    <input type="hidden" class="origin" name="origin" value="{{ ticket.origin }}">
                                    <input type="hidden" class="destination" name="destination" value="{{ ticket.destination }}">
                                    <input type="hidden" class="start_date" name="start_date" value="{{ ticket.start_date }}">
                                    <input type="hidden" class="end_date" name="end_date" value="{{ ticket.end_date }}">
                                    <input type="hidden" class="train_type" name="train_type" value="{{ ticket.train_type }}">
                                    <input type="hidden" class="train_class" name="train_class" value="{{ ticket.train_class }}">
                                    <input type="hidden" class="fare" name="fare" value="{{ ticket.fare }}">
                                    <input type="hidden" class="price" name="price" value="{{ ticket.price }}">
                                    <input type="hidden" class="db_id" name="db_id" value="{{ ticket.db_id }}">
                                    <button type="submit" class="btn btn-warning mt-4 text-white buy-btn"><i class="icon-cart-add mr-2"></i>Buy</button>
                                </form>

                                {% if admin_flag %}
                                <form class="align-items-center" action="/admin/update_page" method="get">
                                    <input type="hidden" class="origin" name="origin" value="{{ ticket.origin }}">
                                    <input type="hidden" class="destination" name="destination" value="{{ ticket.destination }}">
                                    <input type="hidden" class="start_date" name="start_date" value="{{ ticket.start_date }}">
                                    <input type="hidden" class="end_date" name="end_date" value="{{ ticket.end_date }}">
                                    <input type="hidden" class="train_type" name="train_type" value="{{ ticket.train_type }}">
                                    <input type="hidden" class="train_class" name="train_class" value="{{ ticket.train_class }}">
                                    <input type="hidden" class="fare" name="fare" value="{{ ticket.fare }}">
                                    <input type="hidden" class="price" name="price" value="{{ ticket.price }}">
                                    <input type="hidden" class="db_id" name="db_id" value="{{ ticket.db_id }}">
                                    <input type="hidden" class="modify" name="modify" value="modify">
                                    <button type="submit" class="btn btn-warning mt-4 text-white modify-btn"><i class="icon-cart-add mr-2"></i>Modify</button>
                                </form>
                                <form class="align-items-center" action="/admin/delete_ticket" method="get">
                                    <input type="hidden" class="db_id" name="db_id" value="{{ ticket.db_id }}">
                                    <input type="hidden" class="reload" name="reload" value="reload">
                                    <button type="submit" class="btn btn-warning mt-4 text-white delete-btn"><i class="icon-cart-add mr-2"></i>Delete</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% endblock %}

                </div>

            </div>

        </div>
        <nav aria-label="..." class="container d-flex justify-content-center">
            <ul class="pagination">
                {% block pagination_prev %}
                    <li class="page-item">
                        <form class="align-items-center" action="/products" method="get">
                            {% if origin is not none %}
                                <input type="hidden" class="origin" name="origin" value="{{ origin }}">
                            {% endif %}

                            {% if destination is not none %}
                                <input type="hidden" class="destination" name="destination" value="{{ destination }}">
                            {% endif %}

                            {% if start_date is not none %}
                                <input type="hidden" class="start_date" name="start_date" value="{{ start_date }}">
                            {% endif %}

                            {% if end_date is not none %}
                                <input type="hidden" class="end_date" name="end_date" value="{{ end_date }}">
                            {% endif %}

                            {% if train_type is not none %}
                                <input type="hidden" class="train_type" name="train_type" value="{{ train_type }}">
                            {% endif %}

                            {% if train_class is not none %}
                                <input type="hidden" class="train_class" name="train_class" value="{{ train_class }}">
                            {% endif %}

                            {% if fare is not none %}
                                <input type="hidden" class="fare" name="fare" value="{{ fare }}">
                            {% endif %}

                            {% if max_price is not none %}
                                <input type="hidden" class="max_price" name="max_price" value="{{ max_price }}">
                            {% endif %}

                            {% if db_id is not none %}
                                <input type="hidden" class="db_id" name="db_id" value="{{ db_id }}">
                            {% endif %}

                            {% if page is not none and page > 0 %}
                                <input type="hidden" class="page" name="page" value="{{ page - 1 }}">
                                <button type="submit" class="btn btn-warning mt-4 text-white" >Previous ({{ page }})</button>
                            {% endif %}

                            {% if page is not none and page == 0 %}
                                <input type="hidden" class="page" name="page" value="{{ page }}">
                                <button type="submit" class="btn btn-warning mt-4 text-white" disabled>Previous</button>
                            {% endif %}
                        </form>
                    </li>
                {% endblock %}

                {% block pagination_next %}
                    <li class="page-item">
                        <form class="align-items-center" action="/products" method="get">
                            {% if origin is not none %}
                                <input type="hidden" class="origin" name="origin" value="{{ origin }}">
                            {% endif %}

                            {% if destination is not none %}
                                <input type="hidden" class="destination" name="destination" value="{{ destination }}">
                            {% endif %}

                            {% if start_date is not none %}
                                <input type="hidden" class="start_date" name="start_date" value="{{ start_date }}">
                            {% endif %}

                            {% if end_date is not none %}
                                <input type="hidden" class="end_date" name="end_date" value="{{ end_date }}">
                            {% endif %}

                            {% if train_type is not none %}
                                <input type="hidden" class="train_type" name="train_type" value="{{ train_type }}">
                            {% endif %}

                            {% if train_class is not none %}
                                <input type="hidden" class="train_class" name="train_class" value="{{ train_class }}">
                            {% endif %}

                            {% if fare is not none %}
                                <input type="hidden" class="fare" name="fare" value="{{ fare }}">
                            {% endif %}

                            {% if max_price is not none %}
                                <input type="hidden" class="max_price" name="max_price" value="{{ max_price }}">
                            {% endif %}

                            {% if db_id is not none %}
                                <input type="hidden" class="db_id" name="db_id" value="{{ db_id }}">
                            {% endif %}

                            {% if page is not none %}
                                <input type="hidden" class="page" name="page" value="{{ page + 1 }}">
                            {% endif %}

                            <button type="submit" class="btn btn-warning mt-4 text-white" style="margin-left:10px">Next ({{ page + 2 }}) </button>
                        </form>
                    </li>
                {% endblock %}
            </ul>
        </nav>
        <div class="popupBox">
            <span class="closeButton">&times;</span>
            <strong class="type"></strong> <!--riempito dinamicamente con lo pseudo-elemento ::after-->
            <span class="msgContent">Default text.</span>
        </div>
    </section>
    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright&nbsp;©&nbsp;Brand 2022</p>
        </div>
    </footer>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/utility.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="../static/assets/js/current-day.js"></script>
    <script src="../static/assets/js/formModifier.js"></script>
    <script src="../static/assets/js/datetime.js"></script>
</body>

</html>