<!DOCTYPE html>
<html>

{% include 'head.html' %}

<body style="background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('../static/assets/img/bg.jpg');height: 957px;">
    {% include 'header.html' %}
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="d-flex product-item-title"></div>
                <form class="align-items-center" action="/refund_ticket" method="get">
                    <div class="form-row d-flex justify-content-center align-items-center p-0 m-0">
                        <div class="col-lg-6 col-xl-6 p-0 m-0 p-3" id="formConocimientos">
                            <h4 class="p-0 m-0 pb-3" style="color: rgb(230,167,86);">Refund ticket</h4><label style="color: rgb(246,247,248);">ID</label>
                            <div class="form-group">
                                <input class="form-control" type="text" pattern="[0-9]+" id="ticketId" name="ticket_id">
                            </div><button class="btn btn-primary btn-block" id="refundBtn" type="submit">REFUND</button></div>
                        <div class="col text-center text-sm-center text-md-center text-lg-center text-xl-center"><img src="../static/assets/img/pngaaa.com-429027.png" style="width: 328px;margin: 57px;"><label>Label</label></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="popupBox">
            <span class="closeButton">&times;</span>
            <strong class="type"></strong> <!--riempito dinamicamente con lo pseudo-elemento ::after-->
            <span class="msgContent">Default text.</span>
        </div>
    </section>
    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright&nbsp;©&nbsp;Brand 2022</p>
        </div>
    </footer>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/utility.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="../static/assets/js/current-day.js"></script>
    <script src="../static/assets/js/refundRequest.js"></script>
</body>

</html>